root=true

[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=tab
tab_width=4

[*.{cs,vb}]
charset=utf-8
end_of_line=crlf
indent_style=tab
tab_width=4
trim_trailing_whitespace=true

[*.yml]
charset=utf-8
end_of_line=crlf
indent_style=space
tab_width=2
trim_trailing_whitespace=true

[**/*/Migrations/**/*.cs]
exclude = true
generated_code = true

[*.cs]
## Blank Lines

# General
csharp_blank_lines_around_region=1
csharp_blank_lines_inside_region=1
csharp_blank_lines_before_single_line_comment=1

# Blank Lines in Declarations
csharp_keep_blank_lines_in_declarations=1
csharp_remove_blank_lines_near_braces_in_declarations=true
csharp_blank_lines_after_start_comment=0
csharp_blank_lines_between_using_groups=0
csharp_blank_lines_after_using_list=1
csharp_blank_lines_around_namespace=1
csharp_blank_lines_inside_namespace=0
csharp_blank_lines_around_type=1
csharp_blank_lines_around_single_line_type=1
csharp_blank_lines_inside_type=0
csharp_blank_lines_around_field=1
csharp_blank_lines_around_single_line_field=1
csharp_blank_lines_around_property=1
csharp_blank_lines_around_single_line_property=1
csharp_blank_lines_around_auto_property=1
csharp_blank_lines_around_single_line_auto_property=1
csharp_blank_lines_around_accessor=1
csharp_blank_lines_around_single_line_accessor=0
csharp_blank_lines_around_invocable=1
csharp_blank_lines_around_single_line_invocable=1

#Blank Lines in Code
csharp_keep_blank_lines_in_code=1
csharp_remove_blank_lines_near_braces_in_code=true
csharp_blank_lines_around_local_method=1
csharp_blank_lines_around_single_line_local_method=1
csharp_blank_lines_before_control_transfer_statements=1
csharp_blank_lines_after_control_transfer_statements=1
csharp_blank_lines_before_block_statements=1
csharp_blank_lines_after_block_statements=1
csharp_blank_lines_before_multiline_statements=1
csharp_blank_lines_after_multiline_statements=1
csharp_blank_lines_around_block_case_section=1
csharp_blank_lines_around_multiline_case_section=1
csharp_blank_lines_before_case=1
csharp_blank_lines_after_case=0

# Braces Layout
csharp_brace_style=next_line
csharp_indent_inside_namespace=true
csharp_accessor_declaration_braces=end_of_line
csharp_use_continuous_indent_inside_initializer_braces=true
csharp_allow_comment_after_lbrace=false
csharp_empty_block_style=multiline

## CodeStyle
# 'var' Usage in Declarations
csharp_for_built_in_types=use_var:error
csharp_for_simple_types=use_var:error
csharp_for_other_types=use_var:error
csharp_use_roslyn_logic_for_evident_types=true

# Prefer separate declarations for deconstructed variables
csharp_prefer_separate_deconstructed_variables_declaration=false

# Use 'var' keyword for discards
csharp_prefer_explicit_discard_declaration=true

# Instance Members Qualification
csharp_instance_members_qualify_members=none:error
csharp_instance_members_qualify_declared_in=this_class,base_class

# Static Members Qualification
csharp_static_members_qualify_with=declared_type
csharp_static_members_qualify_members=none

# Built-in Type Naming
csharp_builtin_type_reference_style=use_keyword:error
csharp_builtin_type_reference_for_member_access_style=use_keyword:error

# Reference Qualification
csharp_prefer_qualified_reference=false
csharp_add_imports_to_deepest_scope=false
csharp_sort_usings_with_system_first=true
csharp_qualified_using_at_nested_scope=false
csharp_allow_alias=true
csharp_can_use_global_alias=true

# Modifiers
csharp_default_private_modifier=explicit
csharp_default_internal_modifier=explicit

# Arguments
csharp_arguments_skip_single=true
csharp_arguments_literal=positional
csharp_arguments_string_literal=positional
csharp_arguments_named=positional
csharp_arguments_anonymous_function=positional
csharp_arguments_other=positional

# Parentheses
csharp_parentheses_redundancy_style=remove_if_not_clarifies_precedence
csharp_parentheses_non_obvious_operations=shift,bitwise
csharp_parentheses_group_non_obvious_operations=arithmetic,relational,conditional
csharp_parentheses_same_type_operations=true

# Braces
csharp_braces_for_ifelse=required
csharp_braces_for_for=required
csharp_braces_for_foreach=required
csharp_braces_for_while=required
csharp_braces_for_dowhile=required
csharp_braces_for_using=required
csharp_braces_for_lock=required
csharp_braces_for_fixed=required
csharp_braces_redundant=true

# Code Body
csharp_method_or_operator_body=expression_body
csharp_local_function_body=expression_body
csharp_constructor_or_destructor_body=expression_body
csharp_accessor_owner_body=expression_body
csharp_use_heuristics_for_body_style=false

# Attributes
csharp_force_attribute_style=separate

# Trailing comma
csharp_trailing_comma_in_multiline_lists=false
csharp_trailing_comma_in_singleline_lists=false

# Object creation
csharp_object_creation_when_type_evident=target_typed
csharp_object_creation_when_type_not_evident=target_typed

# Default value
csharp_default_value_when_type_evident=default_literal
csharp_default_value_when_type_not_evident=default_literal

## - Tabs, Indents, Alignment

# General
csharp_indent_style=tab
csharp_indent_size=4
csharp_tab_width=4
csharp_continuous_indent_multiplier=1

# Nested Statements
csharp_indent_nested_usings_stmt=true
csharp_indent_nested_fixed_stmt=true
csharp_indent_nested_lock_stmt=true
csharp_indent_nested_for_stmt=true
csharp_indent_nested_foreach_stmt=true
csharp_indent_nested_while_stmt=true

# Parenthesis
csharp_use_continuous_indent_inside_parens=true
csharp_indent_method_decl_pars=inside
csharp_indent_invocation_pars=inside
csharp_indent_statement_pars=inside
csharp_indent_typeparam_angles=inside
csharp_indent_typearg_angles=inside
csharp_indent_pars=inside

# Preprocessor Directives
csharp_indent_preprocessor_if=usual_indent
csharp_indent_preprocessor_region=usual_indent
csharp_indent_preprocessor_other=usual_indent

# Other Indents
csharp_indent_switch_labels=true
csharp_outdent_statement_labels=false
csharp_indent_type_constraints=true
csharp_stick_comment=false
csharp_place_comments_at_first_column=false
csharp_use_indent_from_previous_element=false

# Align Multiline Constructs
csharp_alignment_tab_fill_style=use_tabs_only
csharp_allow_far_alignment=false
csharp_align_multiline_parameter=true
csharp_align_multiline_extends_list=true
csharp_align_linq_query=true
csharp_align_multiline_binary_expressions_chain=true
csharp_outdent_binary_ops=false
csharp_align_multiline_calls_chain=false
csharp_outdent_dots=false
csharp_align_multiline_array_and_object_initializer=false
csharp_align_multiline_switch_expression=false
csharp_align_multiline_property_pattern=false
csharp_indent_anonymous_method_block=false
csharp_align_first_arg_by_paren=false
csharp_align_multiline_argument=false
csharp_align_tuple_components=false
csharp_align_multiline_expression=false
csharp_align_multiline_for_stmt=false
csharp_align_multiple_declaration=false
csharp_align_multline_type_parameter_list=false
csharp_align_multline_type_parameter_constrains=false
csharp_outdent_commas=false

# Align Similar Code in Columns
csharp_int_align=false
csharp_int_align_fix_in_adjacent=false
csharp_int_align_fields=false
csharp_int_align_properties=false
csharp_int_align_methods=false
csharp_int_align_parameters=false
csharp_int_align_variables=false
csharp_int_align_assignments=false
csharp_int_align_property_patterns=false
csharp_int_align_nested_ternary=false
csharp_int_align_invocations=false
csharp_int_align_binary_expressions=false
csharp_int_align_comments=false
csharp_int_align_switch_sections=false
csharp_int_align_switch_expressions=false

## - Line Breaks

#General
csharp_keep_user_linebreaks=true
csharp_max_line_length=140
csharp_wrap_before_comma=false
csharp_wrap_before_eq=false
csharp_wrap_before_comma=false
csharp_special_else_if_treatment=true
csharp_insert_final_newline=false

# Arrangement of Attributes
csharp_max_attribute_length_for_same_line = 36
csharp_keep_existing_attribute_arrangement=false
csharp_keep_existing_arrangement=false
csharp_place_type_attribute_on_same_line=never
csharp_place_attribute_on_same_line=never
csharp_place_method_attribute_on_same_line=never
csharp_place_accessorholder_attribute_on_same_line=never
csharp_place_accessor_attribute_on_same_line=never
csharp_place_field_attribute_on_same_line=never

# Arrangement of Method Signatures
csharp_wrap_parameters_style=wrap_if_long
csharp_max_formal_parameters_on_line=5
csharp_keep_existing_declaration_parens_arrangement=false
csharp_wrap_before_declaration_lpar=false
csharp_wrap_after_declaration_lpar=false
csharp_wrap_before_declaration_rpar=false
csharp_place_constructor_initializer_on_same_line=true

# Arrangement of Expression Bodied Members
csharp_keep_existing_expr_member_arrangement=false
csharp_place_expr_method_on_single_line=always
csharp_place_expr_property_on_single_line=if_owner_is_single_line
csharp_place_expr_accessor_on_single_line=if_owner_is_single_line
csharp_wrap_before_arrow_with_expressions=false

# Arrangement of Type Parameters, Constraints and Base Types
csharp_place_type_constraints_on_same_line=false
csharp_wrap_before_first_type_parameter_constraint=true
csharp_wrap_multiple_type_parameter_constraints_style=chop_always
csharp_wrap_before_type_parameter_langle=false
csharp_wrap_before_extends_colon=false
csharp_wrap_extends_list_style=wrap_if_long

# Arrangement of Declaration Blocks
csharp_keep_existing_declaration_block_arrangement=false
csharp_place_abstract_accessorholder_on_single_line=true
csharp_place_simple_declaration_blocks_on_single_line=true
csharp_place_simple_blocks_on_single_line=true
csharp_place_simple_accessorholder_on_single_line=false
csharp_place_simple_declaration_blocks_on_single_line=false
place_simple_blocks_on_single_line=false
csharp_place_accessor_with_attrs_holder_on_single_line=false
csharp_place_simple_declaration_blocks_on_single_line=false
place_simple_blocks_on_single_line=false
csharp_place_simple_accessor_on_single_line=true
csharp_place_simple_declaration_blocks_on_single_line=true
place_simple_blocks_on_single_line=true
csharp_place_simple_method_on_single_line=false
csharp_place_simple_declaration_blocks_on_single_line=false
place_simple_blocks_on_single_line=false

# Arrangement of enumerations
csharp_keep_existing_enum_arrangement=false
csharp_max_enum_members_on_line=1
csharp_place_simple_enum_on_single_line=false
csharp_wrap_enum_declaration=chop_always

# Arrangement of Statements
csharp_new_line_before_else=false
csharp_new_line_before_while=false
csharp_new_line_before_catch=true
csharp_new_line_before_finally=true
csharp_wrap_for_stmt_header_style=wrap_if_long
csharp_wrap_multiple_declaration_style=chop_always

# Arrangement of Embedded Statements
csharp_keep_existing_embedded_arrangement=true
csharp_place_simple_embedded_statement_on_same_line=never
csharp_place_simple_case_statement_on_same_line=never
csharp_keep_existing_embedded_block_arrangement=false
csharp_place_simple_embedded_block_on_same_line=false
csharp_place_simple_anonymousmethod_on_single_line=false
csharp_keep_existing_switch_expression_arrangement=false
csharp_place_simple_switch_expression_on_single_line=true
csharp_wrap_switch_expression=chop_always

# Arrangement of property patterns
csharp_keep_existing_property_patterns_arrangement=false
csharp_place_simple_property_pattern_on_single_line=true
csharp_wrap_property_pattern=chop_always

# Arrangement of Initializers
csharp_keep_existing_initializer_arrangement=false
csharp_place_simple_initializer_on_single_line=false
csharp_max_initializer_elements_on_line=1
csharp_wrap_object_and_collection_initializer_style=chop_always
csharp_max_array_initializer_elements_on_line=1
csharp_wrap_array_initializer_style=chop_always

# Arrangement of Invocations
csharp_wrap_arguments_style=wrap_if_long
csharp_max_invocation_arguments_on_line=5
csharp_keep_existing_invocation_parens_arrangement=false
csharp_wrap_before_invocation_lpar=false
csharp_wrap_after_invocation_lpar=false
csharp_wrap_before_invocation_rpar=false

# Arrangement of Member Access Expressions
csharp_wrap_after_dot_in_method_calls=false
csharp_wrap_chained_method_calls=chop_always

# Arrangement of Binary Expressions
csharp_wrap_before_binary_opsign=true
csharp_wrap_chained_binary_expressions=chop_if_long
csharp_force_chop_compound_if_expression=false
csharp_force_chop_compound_while_expression=false
csharp_force_chop_compound_do_expression=false

# Arrangement of Ternary Expressions
csharp_wrap_before_ternary_opsigns=true
csharp_wrap_ternary_expr_style=chop_always
csharp_nested_ternary_style=expanded

# Arrangement of LINQ Expressions
csharp_wrap_linq_expressions=chop_always
csharp_wrap_before_linq_expression=false
csharp_place_linq_into_on_new_line=true

# Arrangement of interpolated strings
csharp_wrap_verbatim_interpolated_strings=no_wrap

## - Other
csharp_old_engine=false

## - Spaces

# Preserve Existing Formatting
csharp_extra_spaces=remove_all

# Before Parentheses in Statements
csharp_space_after_keywords_in_control_flow_statements=true

# Before Other Parentheses
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_before_typeof_parentheses=false
csharp_space_before_default_parentheses=false
csharp_space_before_checked_parentheses=false
csharp_space_before_sizeof_parentheses=false
csharp_space_before_nameof_parentheses=false
csharp_space_before_new_parentheses=false
csharp_space_between_keyword_and_expression=true
csharp_space_between_keyword_and_type=true

# Within Parentheses in Statements
csharp_space_within_if_parentheses=false
csharp_space_within_while_parentheses=false
csharp_space_within_catch_parentheses=false
csharp_space_within_switch_parentheses=false
csharp_space_within_for_parentheses=false
csharp_space_within_foreach_parentheses=false
csharp_space_within_using_parentheses=false
csharp_space_within_lock_parentheses=false
csharp_space_within_fixed_parentheses=false

# Within Other Parentheses
csharp_space_within_parentheses=false
csharp_space_between_typecast_parentheses=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_within_typeof_parentheses=false
csharp_space_within_default_parentheses=false
csharp_space_within_checked_parentheses=false
csharp_space_within_sizeof_parentheses=false
csharp_space_within_nameof_parentheses=false
csharp_space_within_new_parentheses=false

# Around Array Brackets
csharp_space_before_open_square_brackets=false
csharp_space_between_empty_square_brackets=false
csharp_space_before_type_parameter_angle=false
csharp_space_before_type_argument_angle=false
csharp_space_within_type_parameter_angles=false
csharp_space_within_type_argument_angles=false

# Around Braces
csharp_space_before_singleline_accessorholder=true
csharp_space_in_singleline_accessorholder=true
csharp_space_between_accessors_in_singleline_property=true
csharp_space_within_empty_braces=false
csharp_space_in_singleline_method=true
csharp_space_in_singleline_anonymous_method=true
csharp_space_within_single_line_array_initializer_braces=true

# Around Binary Operators
csharp_space_around_assignment_op=true
csharp_space_around_binary_operator=true
csharp_space_around_logical_op=true
csharp_space_around_equality_op=true
csharp_space_around_relational_op=true
csharp_space_around_bitwise_op=false
csharp_space_around_additive_op=true
csharp_space_around_multiplicative_op=true
csharp_space_around_shift_op=true
csharp_space_around_nullcoalescing_op=true
csharp_space_around_arrow_op=true

# After Unary Operators
csharp_space_after_logical_not_op=false
csharp_space_after_unary_operator=false
csharp_space_after_unary_minus_op=false
csharp_space_after_unary_plus_op=false
csharp_space_after_ampersand_op=false
csharp_space_after_asterik_op=false
csharp_space_near_postfix_and_prefix_op=false

# In Ternary Operator
csharp_space_before_ternary_quest=true
csharp_space_around_ternary_operator=true
csharp_space_after_ternary_quest=true
csharp_space_before_ternary_colon=true
csharp_space_after_ternary_colon=true

# Around Comma and Semicolon
csharp_space_before_comma=false
csharp_space_after_comma=true
csharp_space_before_semicolon_in_for_statement=false
csharp_space_after_semicolon_in_for_statement=true
csharp_space_before_semicolon=false

# Around Colon
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_before_type_parameter_constraint_colon=true
csharp_space_after_type_parameter_constraint_colon=true
csharp_space_before_colon_in_case=false
csharp_space_after_colon_in_case=true
csharp_space_before_attribute_colon=false
csharp_space_after_attribute_colon=true

# Attributes
csharp_space_between_attribute_sections=true
csharp_space_between_square_brackets=false
csharp_space_after_attributes=true

# Other
csharp_space_after_cast=true
csharp_space_around_dot=false
csharp_space_around_lambda_arrow=true
csharp_space_before_pointer_asterik_declaration=false
csharp_space_before_nullable_mark=false
csharp_space_around_alias_eq=true
csharp_space_before_trailing_comment=true
csharp_space_after_operator_keyword=true


## XMLDOC - Formatting Style

# Tabs and Indents
xmldoc_indent_style=tab
xmldoc_indent_size=1
xmldoc_tab_width=1
xmldoc_alignment_tab_fill_style=use_tabs_only

# Line Wrapping
xmldoc_max_line_length=80
xmldoc_wrap_tags_and_pi=true

# Processing Instructions
xmldoc_spaces_around_eq_in_pi_attribute=false
xmldoc_space_after_last_pi_attribute=false
xmldoc_pi_attribute_style=first_attribute_on_single_line
xmldoc_pi_attributes_indent=align_by_first_attribute
xmldoc_blank_line_after_pi=false

# Inside of Tag Header
xmldoc_spaces_around_eq_in_attribute=false
xmldoc_space_after_last_attribute=false
xmldoc_space_before_self_closing=true
xmldoc_attribute_style=on_single_line
xmldoc_attribute_indent=align_by_first_attribute

# Tag Content
xmldoc_keep_user_linebreaks=true
xmldoc_linebreaks_inside_tags_for_multiline_elements=true
xmldoc_linebreaks_inside_tags_for_elements_with_child_elements=true
xmldoc_linebreaks_inside_tags_for_elements_longer_than=80
xmldoc_spaces_inside_tags=true
xmldoc_wrap_text=true
xmldoc_wrap_around_elements=true
xmldoc_indent_child_elements=zero_indent
xmldoc_indent_text=zero_indent

# Around Tags
xmldoc_max_blank_lines_between_tags=0
xmldoc_linebreak_before_multiline_elements=true
xmldoc_linebreak_before_singleline_elements=false
xmldoc_linebreak_before_elements=true

## Dotnet_
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_event=false:warning
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning

[*.ts]
# Braces Layout
js_types_braces=end_of_line

## Line Breaks

# Blank Lines
js_min_blank_lines_around_fields=1
js_min_blank_lines_around_types=1

# Line Breaks
js_wrap_enum_style=line_break
js_wrap_union_type_usage=chop_if_long

# Place on a New Line
js_place_each_decorator_on_new_line=true
js_place_class_decorator_on_the_same_line=false
js_place_method_decorator_on_the_same_line=false
js_place_property_decorator_on_the_same_line=false
js_place_field_decorator_on_the_same_line=false


## Other

# Align Multiline Constructs
js_align_union_type_usage=false


## Spaces

# Type Parameters and Arguments
js_space_before_type_parameters_brackets=false
js_space_within_type_parameters_brackets=false

# Type Annotations
js_space_before_colon_in_type_annotation=false
js_space_after_colon_in_type_annotation=true

# Union and Intersection Types
js_space_around_pipe_or_amper_in_type_usage=true

## Razor CSharp

# Line breaks around Razor statements
html_linebreaks_around_razor_statements=true

# Blank lines around Razor @functions block
html_blank_lines_around_razor_functions=1

# Blank lines around Razor helpers
html_blank_lines_around_razor_helpers=1

# Blank lines around Razor sections
html_blank_lines_around_razor_sections=1