<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="HtmlAgilityPack" version="1.8.4" targetFramework="net471"/>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="NetFx.Extensions.DependencyInjection" version="2.0.1" targetFramework="net471" />
  <package id="NetFx.Extensions.DependencyInjection.Abstractions" version="2.0.1" targetFramework="net471" />
	<package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471"/>
	<package id="NLog" version="4.5.6" targetFramework="net471"/>
	<package id="SimpleInjector" version="4.3.0" targetFramework="net471"/>
	<package id="SonarAnalyzer.CSharp" version="7.2.0.5463" targetFramework="net471" developmentDependency="true"/>
	<package id="System.IO" version="4.3.0" targetFramework="net471"/>
	<package id="System.Net.Http" version="4.3.3" targetFramework="net471"/>
	<package id="System.Runtime" version="4.3.0" targetFramework="net471"/>
	<package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471"/>
	<package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471"/>
	<package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471"/>
	<package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471"/>
	<package id="VkNet" version="1.35.1" targetFramework="net471"/>
</packages>