<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Правила для VkNet" Description="Правила анализа кода для VkNet.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0010" Action="Warning" />
    <Rule Id="CC0013" Action="Warning" />
    <Rule Id="CC0014" Action="Warning" />
    <Rule Id="CC0017" Action="Warning" />
    <Rule Id="CC0018" Action="Warning" />
    <Rule Id="CC0019" Action="Warning" />
    <Rule Id="CC0020" Action="Warning" />
    <Rule Id="CC0026" Action="Warning" />
    <Rule Id="CC0030" Action="Warning" />
    <Rule Id="CC0032" Action="Warning" />
    <Rule Id="CC0034" Action="Warning" />
    <Rule Id="CC0035" Action="Warning" />
    <Rule Id="CC0037" Action="Warning" />
    <Rule Id="CC0038" Action="Warning" />
    <Rule Id="CC0042" Action="Warning" />
    <Rule Id="CC0043" Action="Warning" />
    <Rule Id="CC0044" Action="Warning" />
    <Rule Id="CC0045" Action="Warning" />
    <Rule Id="CC0046" Action="Warning" />
    <Rule Id="CC0047" Action="Warning" />
    <Rule Id="CC0048" Action="Warning" />
    <Rule Id="CC0049" Action="Warning" />
    <Rule Id="CC0052" Action="Warning" />
    <Rule Id="CC0054" Action="Warning" />
    <Rule Id="CC0056" Action="Warning" />
    <Rule Id="CC0061" Action="Warning" />
    <Rule Id="CC0062" Action="Warning" />
    <Rule Id="CC0063" Action="Warning" />
    <Rule Id="CC0064" Action="Warning" />
    <Rule Id="CC0065" Action="Warning" />
    <Rule Id="CC0068" Action="Warning" />
    <Rule Id="CC0070" Action="Warning" />
    <Rule Id="CC0071" Action="Warning" />
    <Rule Id="CC0072" Action="Warning" />
    <Rule Id="CC0073" Action="Warning" />
    <Rule Id="CC0074" Action="Warning" />
    <Rule Id="CC0075" Action="Warning" />
    <Rule Id="CC0076" Action="Warning" />
    <Rule Id="CC0079" Action="Warning" />
    <Rule Id="CC0081" Action="Warning" />
    <Rule Id="CC0082" Action="Warning" />
    <Rule Id="CC0084" Action="Warning" />
    <Rule Id="CC0088" Action="Warning" />
    <Rule Id="CC0089" Action="Warning" />
    <Rule Id="CC0092" Action="Warning" />
    <Rule Id="CC0095" Action="Warning" />
    <Rule Id="CC0108" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="GCop.Analyzer" RuleNamespace="GCop.Analyzer">
    <Rule Id="GCop113" Action="Info" />
    <Rule Id="GCop116" Action="None" />
    <Rule Id="GCop117" Action="Info" />
    <Rule Id="GCop119" Action="None" />
    <Rule Id="GCop129" Action="None" />
    <Rule Id="GCop135" Action="Warning" />
    <Rule Id="GCop160" Action="Info" />
    <Rule Id="GCop169" Action="None" />
    <Rule Id="GCop171" Action="None" />
    <Rule Id="GCop172" Action="None" />
    <Rule Id="GCop177" Action="None" />
    <Rule Id="GCop204" Action="Warning" />
    <Rule Id="GCop207" Action="None" />
    <Rule Id="GCop211" Action="None" />
    <Rule Id="GCop301" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1584" Action="None" />
  </Rules>
</RuleSet>