<#@ template language="C#" debug="false" #>
<#@ output extension="cs" #>
<#@ assembly name="$(SolutionDir)Debug\VkNet.dll" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="VkNet" #>
using NUnit.Framework;
using VkNet.Enums;
using VkNet.Utils;

namespace VkNet.Tests.Enum
{
	[TestFixture]
    public class EnumsTest
    {

<#
	var safetyEnumTypes = Assembly.GetAssembly(typeof(VkApi))
		.GetTypes()
		.Where(
			t => t.IsEnum && t.Namespace.StartsWith("VkNet"));
	foreach (var type in safetyEnumTypes.OrderBy(o => o.Name))
	{

#>
		[Test]
        public void <#=type.Name #>Test()
        {
<#GenerateEqualsTest(type);#>
		}

<#
	}
#>
	}
}

<#+

	public void GenerateEqualsTest(Type type)
	{
		foreach (var info in type.GetFields().Skip(1))
		{
			var value = Convert.ChangeType(info.GetValue(info), typeof(int));
#>
			Assert.That(Utilities.EnumFrom<<#= type.Name#>>(<#= value #>), Is.EqualTo(<#= type.Name#>.<#= info.GetValue(info).ToString()#>));
<#+
		}
	}

#>
