<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Реализация ВКонтакте API для .NET (c#)">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} -- {{ site.url }}</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <script src="{{ site.url }}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include google-analytics.md %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">VK.NET</h1>
        <p class="header">Вконтакте API для .NET (C#)</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/vknet/vk/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/vknet/vk/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/vknet/vk">View On GitHub</a></li>
        </ul>
        <p class="header">Разработка проекта <a class="header name" href="https://github.com/vknet">VkNet</a></p>
	<div>
	  Supported by <a href="https://www.jetbrains.com/">Jetbrains</a>.
	</div>
	<div>
	  <a href="https://www.jetbrains.com/"><img src="https://raw.githubusercontent.com/vknet/vk/master/.github/jetbrains_logo.png" style="max-width: 150px; border:none"></a>
	</div>
      </header>

      <section>
	<a class="header name" href="https://vknet.github.io/vk/">На главную</a>
	{{ content }}

{% if page.comments %}	
	{% include disqus.html %}
{% endif %}
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
